<div class="page-width">
    <h2 style="text-align: center">{{section.settings.mein_erstes_textfeld}}</h2>
<div id="stories-wrapper">
    <div id="stories-container">
      
<div class="cscontainer cscenter">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle csborder" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Heading</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</div>
</div>
</div>
    {% schema %}
    {
        "name": "Erste eigene Section222",
        "max_blocks": 5,
        "settings": [{
          "type": "text",
          "id": "mein_erstes_textfeld",
          "label": "Überschrift",
          "default": "Hey, ich bin dein erstes Textfeld"
    },    
          {
      "type": "range",
      "id": "font_size",
      "min": 12,
      "max": 48,
      "step": 1,
      "unit": "px",
      "label": "Schriftgröße Beschreibung",
      "default": 12
    },{
      "type": "range",
      "id": "image-size",
      "min": 48,
      "max": 192,
      "step": 16,
      "unit": "px",
      "label": "Breite des Bildes",
      "default": 96
    }],
      "blocks": [
         {
           "name": "Bild-Text",
           "type": "custom",
           "settings": [
             {
               "type": "image_picker",
               "id": "image",
               "label": "Image"
             },
             {
               "type": "text",
               "id": "beschreibungstext",
               "label": "Beschreibungstext",
               "default": "BEISPIEL"
             }
           ]
         }
       ],
        "presets": [
          {
            "name": "Erste eigene Section333",
            "category": "Custom"
          }
        ]
      }
    {% endschema %}