<div class="page-width">
    <h2 style="text-align: center">{{section.settings.mein_erstes_textfeld}}</h2>
      


<div id="stories-wrapper">
    <div id="stories-container">
      {% for block in section.blocks %}
      <a class="story">
        <div class="profile">
          <img src="{{block.settings.image | img_url: '2048x'}}" alt="" onclick="window.location.href='www.de.de';">
        </div>
        <div class="title1">{{block.settings.beschreibungstext}}</div>
      </a>{% endfor %}
    </div>
        
  </div>
 </div>
    
    
    
    {% schema %}
    {
        "name": "Erste eigene Section",
        "max_blocks": 5,
        "settings": [{
          "type": "text",
          "id": "mein_erstes_textfeld",
          "label": "Überschrift",
          "default": "Hey, ich bin dein erstes Textfeld"
    },    
          {
      "type": "range",
      "id": "font_size",
      "min": 12,
      "max": 48,
      "step": 1,
      "unit": "px",
      "label": "Schriftgröße Beschreibung",
      "default": 12
    },{
      "type": "range",
      "id": "image-size",
      "min": 48,
      "max": 192,
      "step": 16,
      "unit": "px",
      "label": "Breite des Bildes",
      "default": 96
    }],
      "blocks": [
         {
           "name": "Bild-Text",
           "type": "custom",
           "settings": [
             {
               "type": "image_picker",
               "id": "image",
               "label": "Image"
             },
             {
               "type": "text",
               "id": "beschreibungstext",
               "label": "Beschreibungstext",
               "default": "BEISPIEL"
             }
           ]
         }
       ],
        "presets": [
          {
            "name": "Instagrma menü Slide ",
            "category": "Custom"
          }
        ]
      }
    {% endschema %}
    

<style>
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --bg-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
}

/*--------------------------------------------------------------
# Stories
--------------------------------------------------------------*/
#stories-wrapper {
  margin: 100px auto;

}

#stories-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  padding: 20px 0;
}

.story {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin: 0 5px;
}

.story .profile {
  background: rgb(255, 201, 0);
  background: linear-gradient(
    36deg,
    rgb(255, 201, 0) 13%,
    rgb(255, 0, 95) 73%,
    rgb(255, 9, 237) 100%
  );
  padding: 5px;
  margin: 5px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.story .profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: 5px solid var(--bg-color);
  box-sizing: content-box;
}

.story .title1 {
  text-align: center;
  padding: 5px 0;
}

.story .profile.visited {
  background: #ccc;
}

.story.active .profile {
  animation-duration: 1s;
  animation-name: story;
  animation-iteration-count: infinite;
}
  .story img{
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    transition: .6s ease-in-out;
}

.story img:hover{
    transform: scale(1.1);
}

.sidemenu
{
  float:right;
}

  @media only screen and (max-width: 600px) {
      .11 {
        background-color: white;
        width: 49%;
      }
      .11:first-child {
        display: none;
      }
    }
    
    .none {
      display: none;
    }
  
  
</style>

{% stylesheet %}
{% endstylesheet %}
    
{% javascript %}
{% endjavascript %}